<section class="cart">
    <div class="container">
        <h1 class="h3 mt-5">CART</h1>
        <div class="contents">
            <div id="product" class="mt-3">
                <div class="table-responsive">
                    <table class="table">
                        <tbody>
                            {{# each products}}
                            <tr>
                                <th scope=" row" class="border-0">
                                    <div class="p-2">
                                        <img src="/images/{{this.image}}" alt="" width="70"
                                            class="img-fluid rounded shadow-sm">
                                        <div class="ml-3 d-inline-block align-middle">
                                            <h5 class="mb-0"> <a href="#"
                                                    class="text-dark d-inline-block align-middle">{{this.name}}</a></h5>
                                        </div>
                                    </div>
                                </th>
                                <td class="border-0 align-middle"><strong>{{this.price}} €</strong></td>
                                <td class="border-0 align-middle"><strong>{{this.amount}} kg</strong></td>
                                <td class="border-0 align-middle"><a href="#" class="text-dark"><i
                                            class="fa fa-trash"></i></a>
                                </td>
                            </tr>
                            {{/ each}}
                        </tbody>
                    </table>
                </div>
            </div>

            <div class="row">
                <div class="col-lg-6 py-5 p-4 mt-5 bg-white">
                    <div class="bg-light rounded-pill px-4 py-3 text-uppercase font-weight-bold">Order summary </div>
                    <div class="p-4">
                        <ul class="list-unstyled mb-4">
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Order Subtotal </strong><strong>{{price}} €</strong></li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Shipping and handling</strong><strong>{{shipping}} €</strong>
                            </li>
                            <li class="d-flex justify-content-between py-3 border-bottom"><strong
                                    class="text-muted">Total</strong>
                                <h5 class="font-weight-bold">{{totalPrice}} €</h5>
                            </li>
                        </ul><a href="#" class="btn btn-dark rounded-pill py-2 btn-block">Procceed to checkout</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>