{{> index_carousel }}

<section class="trendy-sellers">
    <div class="heading mt-5">
        <h1 class="h4 mr-3">TRENDY SELLERS</h1>
        <small><a href="/sellers"><u>SEE ALL</u></a></small>
    </div>
    <div class="container">
        <div class="row">
            {{# if sellers}}
            {{# each sellers}}
            <div class="col-sm-12 col-md-6 my-3">
                <div class="card bg-dark text-white">
                    <img src="https://aveiro-market.s3.eu-west-3.amazonaws.com/sellers/{{this.dataValues.banner}}"
                        class="card-img" alt="{{this.dataValues.displayName}}">
                    <div class="flex-container">
                        <div class="card-img-overlay">
                            <img src="https://aveiro-market.s3.eu-west-3.amazonaws.com/sellers/{{this.dataValues.logo}}"
                                alt="Logo Garrafeira 5 Estrelas" style="width: 25%;">
                            <a href="/sellers/{{this.dataValues.id}}" class="btn btn-primary mt-3"><strong>SHOP
                                    NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/ each}}
            {{ else }}
            <div class="col-12">
                <p>No sellers yet.</p>
            </div>
            {{/ if}}
        </div>
    </div>
    <h1 class="h4 mt-5">
        ABOUT AVEIRO
    </h1>
    <div class="container">
        <div class="row">
            <div class="col-12">
                <p class="mt-3">

                    “e isto muda tudo” - and it changed everything
                </p>
                <p>
                    Aveiro has always been considered as a digital cluster and a territory of innovation. Known for
                    economic activities, Aveiro had its added value in salt production, in the naval trade and in the
                    ceramic
                    industry which dates back, at least, to the late-Roman / medieval period. Aveiro has since become
                    the
                    first “Digital City” in Portugal, back in 2003, and is currently involved in the main projects in
                    the
                    field of 5G and of smart cities, having just launched a new Creative Science Park.
                    The city of Aveiro is blooming. Walking through the streets of Aveiro, more and more big
                    international
                    shops appear, showing the desire for the latests trends. However, the city as we know it, is slowly
                    disappearing. Who still knows where to find a good sapateiro, and who still buys groceries from a
                    charcutaria or a frutaria? And do we even remember what an amolador does? With the disappearance of
                    these shops and professions, our culture is slowly fading. That is why we brought it all together on
                    this website, to support our local economy and give them a chance to compete with multinationals.
                </p>
                <p>
                    Change is good, let us use it to show that Aveiro can be a fusion of modern innovations and a
                    culture
                    that has evolved for over 2000 years!
                </p>
            </div>
        </div>
    </div>
</section>