{{> index_carousel }}

<section class="trendy-sellers">
    <div class="heading mt-5">
        <h1 class="h4 mr-3">TRENDY SELLERS</h1>
        <small><a href="/sellers"><u>SEE ALL</u></a></small>
    </div>
    <div class="container">
        <div class="row">
            {{# if sellers}}
            {{# each sellers}}
            <div class="col-sm-12 col-md-6 my-3">
                <div class="card bg-dark text-white">
                    <img src="https://aveiro-market.s3.eu-west-3.amazonaws.com/sellers/{{this.dataValues.banner}}"
                        class="card-img" alt="{{this.dataValues.displayName}}">
                    <div class="flex-container">
                        <div class="card-img-overlay">
                            <img src="https://aveiro-market.s3.eu-west-3.amazonaws.com/sellers/{{this.dataValues.logo}}"
                                alt="Logo Garrafeira 5 Estrelas" style="width: 25%;">
                            <a href="/sellers/{{this.dataValues.id}}" class="btn btn-primary mt-3"><strong>SHOP
                                    NOW</strong></a>
                        </div>
                    </div>
                </div>
            </div>
            {{/ each}}
            {{ else }}
            <div class="col-12">
                <p>No sellers yet.</p>
            </div>
            {{/ if}}
        </div>
    </div>
</section>