<section class="order-status">
    <div class="container">
        {{# if order}}
        <h1 class="h3 mt-5">Order No. {{order.order_no}} </h1>
        <div class="contents">
            <div class="d-flex flex-column flex-md-row">
                <p class="mr-5"><strong>Date: </strong>{{order.date}}</p>
                <p class="mr-5"><strong>Status: </strong>{{order.state}}</p>
                <p class="mr-5"><strong>Payment Method: </strong>{{order.payment_method}}</p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Weight (kg)</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Amount</th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each order.products}}
                        <tr>
                            <td>{{this.name}}</td>
                            <td>{{this.weight}}</td>
                            <td>{{this.quantity}}</td>
                            <td>{{this.amount}}</td>
                            <td><a href="/review/{{this.id}}" class="text-primary">Review</a></td>
                        </tr>
                        {{/each}}
                        <tr class="thead-light">
                            <th colspan="3" class="text-right">Total</th>
                            <th>{{order.totalPrice}} </th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{else}}
        <p class="text-center">Invalid Order!</p>
        {{/ if}}
    </div>
</section>