<section class="order-status">
    <div class="container">
        {{# if order}}
        <h1 class="h3 mt-5">Order No. {{order.id}} </h1>
        <div class="contents">
            <div class="d-flex flex-column flex-md-row">
                <p class="mr-5"><strong>Date: </strong>{{order.date}}</p>
                {{# ifEquals order.state 0}}
                <p class="mr-5"><strong>State: </strong>On-Hold</p>
                {{ else ifEquals order.state 1}}
                <p class="mr-5"><strong>State: </strong>Accepted</p>
                {{ else }}
                <p class="mr-5"><strong>State: </strong>Rejected</p>
                {{/ ifEquals}}
                <p class="mr-5"><strong>Payment Method: </strong>{{order.payment}}</p>
            </div>
            <div class="table-responsive">
                <table class="table table-striped text-center">
                    <thead class="thead-light">
                        <tr>
                            <th scope="col">Product</th>
                            <th scope="col">Quantity</th>
                            <th scope="col">Amount</th>
                            <th></th>
                        </tr>
                    </thead>
                    <tbody>
                        {{#each order.products}}
                        <tr>
                            <td><a href="/products/{{this.item.id}}">{{this.item.name}}</a></td>
                            {{# ifEquals this.item.type 0}}
                            <td>{{this.qty}} Uty</td>
                            {{ else }}
                            <td>{{this.qty}} kg</td>
                            {{/ ifEquals}}
                            <td>{{this.price}} €</td>
                            <td><a href="/review/{{this.item.id}}" class="text-primary">Review</a></td>
                        </tr>
                        {{/each}}
                        <tr class="thead-light">
                            <th colspan="2" class="text-right">Total</th>
                            <th>{{order.totalPrice}} €</th>
                            <th></th>
                        </tr>
                    </tbody>
                </table>
            </div>
        </div>
        {{else}}
        <p class="text-center">Invalid Order!</p>
        {{/ if}}
    </div>
</section>