<section class="products">
    <div class="container">
        <h1 class="h3 mt-5">{{category}}</h1>
        <div class="contents">
            {{# if products}}
            <div class="row">
                {{# each products}}
                <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex">
                    <div class="card flex-fill my-3">
                        <a id="linkFix" href="/products/{{this.dataValues.id}}"></a>
                        <img src="https://aveiro-market.s3.eu-west-3.amazonaws.com/products/{{this.dataValues.image}}"
                            class="card-img-top" alt="...">
                        <div class="card-body">
                            <h5 class="card-title">{{this.dataValues.name}}</h5>
                            <div class="d-flex flex-column flex-md-row justify-content-between">
                                <h6>{{this.dataValues.price}}€</h6>
                            </div>
                        </div>
                    </div>
                </div>
                {{/ each }}
            </div>
        </div>
        {{else}}
        <p class="text-center">There are no products yet.</p>
        {{/ if}}
    </div>
</section>