<section class="seller-page">
    <div class="container">
        <div class="contentsbg-white">
            <div class="d-flex flex-column align-items-center p-5">
                <img class="seller-logo"
                    src="https://aveiro-market.s3.eu-west-3.amazonaws.com/sellers/{{seller.dataValues.logo}}" alt="">
                <h1 class="h3 mt-3">{{seller.dataValues.displayName}}</h1>
                <div class="social flex-row mt-2">
                    <a href="{{seller.dataValues.facebook}}" class="text-primary"><i
                            class="fa fa-facebook mr-md-3"></i></a>
                    <a href="{{seller.dataValues.facebook}}" class="text-primary"><i class=" fa fa-instagram"></i></a>
                </div>
                <div class="info d-flex flex-column flex-md-row justify-content-around mt-2">
                    <p class="text-center mr-md-5">{{seller.dataValues.address}}</p>
                    <p class="text-center mr-md-5">{{seller.dataValues.phone}}</p>
                    <p class="text-center mr-md-5">{{seller.dataValues.email}}</p>
                </div>
            </div>
            <div class="products mt-5">
                {{# if products}}
                <div class="row">
                    {{# each products}}
                    <div class="col-12 col-md-6 col-lg-4 col-xl-3 d-flex">
                        <div class="card flex-fill my-3">
                            <img src=" /images/{{this.image}}" class="card-img-top" alt="...">
                            <div class="card-body">
                                <h5 class="card-title">{{this.name}}</h5>
                                <h6 class="card-subtitle mb-2 text-muted">{{this.seller}}</h6>
                                <div class="d-flex flex-column flex-md-row justify-content-between">
                                    <h6><small>{{this.price}}€</small></h6>
                                </div>
                            </div>
                        </div>
                    </div>
                    {{/ each }}
                </div>
            </div>
            {{# ifHasMore maxPerPage products_count }}
            <nav aria-label="Page navigation example">
                <ul class="pagination">
                    <li class="page-item"><a class="page-link" href="#">Previous</a></li>
                    <li class="page-item"><a class="page-link" href="#">1</a></li>
                    <li class="page-item"><a class="page-link" href="#">2</a></li>
                    <li class="page-item"><a class="page-link" href="#">3</a></li>
                    <li class="page-item"><a class="page-link" href="#">Next</a></li>
                </ul>
            </nav>
            {{/ ifHasMore}}
            {{else}}
            <p class="text-center">There are no products yet.</p>
            {{/ if}}
        </div>
    </div>
    </div>
</section>